




<!-- ============================================================== -->
<!-- header -->
<!-- ============================================================== -->

    {include file = 'src/view/header.html'}

<!-- ============================================================== -->
<!-- end header -->
<!-- ============================================================== -->




 <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                           
                                <a href="{$url_base}User/accueil?id={$user->getId()}" class="btn btn-primary"> <i class="fas fa-arrow-left"></i> </a>
                           
                            <div class="page-header">
                               
                                   
                                <h2 class="pageheader-title " align="center">Liste des utilisateurs</h2>
                                

                            
                                
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->




<!-- ############################################################################################## -->


<!-- recent orders  -->
<!-- ============================================================== -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<!-- <a href="{$url_base}User/form_user?id={$user->getId()}" class="btn btn-primary"><i class="fas fa-user-plus"></i> Ajouter un utilisateur</a> -->
    <div class="card">
       
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                        <tr class="border-0">
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Adresse</th>
                            <th>Profil</th>
                            <th>Détails</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        
                        {foreach from = $listeUser item= user}
                        <tr>
                            <td> {$user->getId()} </td>
                            <td> {$user->getNom()}  </td>
                            <td> {$user->getPrenom()}  </td>
                            <td> {$user->getAdresse()}  </td>
                            <td> {$user->getProfil()->getLibelle()}  </td>
                            <td>
                                <a href="#"
                                    class="btn btn-sm btn-warning text-white ml-2"><i
                                    class="fa fa-edit"></i>Modifier</a>
                                <a href="User/delete/{$user->getId()}" class="btn btn-sm btn-danger text-white ml-2"><i
                                        class="fa fa-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                        {/foreach}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end recent orders  -->



<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
{include file = 'src/view/footer.html'}
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->